body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    line-height: 1.6;
}

header {
    background-color: #f4f4f4;
    padding: 20px 0;
    border-bottom: 2px solid #ccc;
    text-align: center;
    position: relative;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.header-text h1 {
    margin: 0;
    font-size: 2.5em;
    color: #333;
}

.header-text h2 {
    margin: 10px 0;
    font-size: 1.5em;
    color: #777;
}

.header-text h4 {
    margin: 5px 0;
    font-size: 1em;
    color: #555;
}

.header-images {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    width: 30%;  /* 画像全体が画面幅に適応する */
}

.header-image {
    width: 40%;  /* 画像が画面の幅に応じて自動的にリサイズされる */
    height: auto;  /* 高さは自動調整 */
    border-radius: 10px;
    margin: 0 10px;
}

.award-images {
    display: flex;
    justify-content: center; /* 画像を中央揃え */
    margin-top: 20px;
    width: 100%; /* コンテナの幅を全体に広げる */
}

.award-highlight {
    color: red;
}

.award-image {
    width: 30%;  /* 各画像が画面幅の30%に適応する */
    height: auto;  /* 高さは自動調整 */
    /* border-radius: 100px; */
}


nav {
    position: absolute;
    top: 20px;
    right: 20px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 20px;
}

.content section {
    margin-bottom: 40px;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
}

h2 {
    border-bottom: 2px solid #333;
    padding-bottom: 10px;
    margin-bottom: 20px;
    font-size: 2em;
}

h3 {
    margin-bottom: 10px;
    font-size: 1.5em;
    color: #555;
}

.aboutme-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid #ccc;
    margin-left: 20px;
}

ul {
    list-style-type: disc;
    padding-left: 20px;
}

ul li {
    margin-bottom: 10px;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #f4f4f4;
    border-top: 2px solid #ccc;
}

footer p {
    margin: 0;
    font-size: 0.9em;
    color: #777;
}